@import "reset.css";

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.text-center {
    text-align: center;
}

main section {
    margin-bottom: 100px;
}

p {
    margin-bottom: 15px;
}