/*
    Цвет:

    Для изменения света текста внутри элемента или на все страницы мы можем использовать
    свойство color. Свойство color принимает значения в разных моделях цветового пространства.

    Одной из самых распространенных моделей является RGB (red green blue), она определяет
    сколько красного, зеленого и голубого используется дл получения определенного цвета.

    Первое что нужно настраивать при верстке макет это цвет основного текста, для решения
    этой задачи мы можем указать для body нужный нам color;
*/

body h1 {
    color: black;
}

body .color {
    color: orange;
}

/*
    Свойство color является наследуемым а это значит что если у вложенных элементов
    не определено свойство color то оно будет наследоваться от родительского элемента.
    Это происходи из-за механизма каскадности в CSS.


    Устанавливая нужный цвет для элементов может показаться просто задачей, так как нам
    нужно просто взять цвет из макета и добавить его для текста, но не стоит забывать
    что этот текст должен быть читаемым для пользователя, а значит должен быть контрастным
    относительно фона. Это в меньшей степени относится к заголовкам, так как они в любом
    случае выделяются за счет своего размера.


    Проверить контрастность относительно фона можно в Chrome Web Tools.
*/




/*
    Выравнивание текста:

    Для нестандартного выделения текста нас странице мы можем использовать выравнивание текста
    в сочетании с размером и цветом, такой текст будет более заметен для пользователя.

     Свойство text-align используется для выравнивания текста и оно имеет несколько значений:

     left — выравнивание текста по левому краю. Это значение устанавливается по умолчанию.

     center — выравнивание текста по центру.

     right — выравнивание текста по правому краю.

     justify — выравнивание текста по ширине. Данное значение выравнивает текст так, чтобы
     поместить слова строго от начала блока до его конца. При этом возможны изменения
     размеров пробелов между словами. Является плохой практикой так как может создавать
     довольно большие пробелы внутри текста.

     Свойство text-align также является наследуемым, а значит будет наследоваться дочерними
     элементам у которых это свойство не задано.
*/

main .text-alignment {
    text-align: left;
    /*text-align: center;*/
    /*text-align: right;*/
    /*text-align: justify;*/
}




/*
    Насыщенность текста:

    Для управления насыщенностью в CSS используется правило font-weight. Оно принимает
    следующие значения:

    - Значения от 100 до 900 с шагом 100.
    - lighter — сверхтонкое начертание. Делает текст менее насыщенным, чем текущее значение.
    - normal — значение по умолчанию. Соответствует числовому значению 400.
    - bold — жирное начертание текста. Соответствует числовому значению 700.
    - bolder — сверхжирное начертание. Делает текст насыщеннее, чем текущее значение.

    Для многих шрифтов доступны только значения normal и bold. Это обусловлено тем сколько
    шрифту добавлено начертаний.
*/

.text-saturation .text-lighter {
    font-weight: 100;
}

.text-saturation .text-normal {
    font-weight: 400;
}

.text-saturation .text-bold {
    font-weight: 700;
}

.text-saturation .text-bolder {
    font-weight: 800;
}



/*
    Размер текста:

    Текст большого размера лучше бросается в глаза, а маленького размера, наоборот, хуже.
    Для регулирования размера текста мы можем использовать заголовки, но они не подходят
    для изменения размера текста который не является заголовком. Второй вариант это
    изменение текста с помощью CSS свойства font-size.

*/

.text-size .text-sm {
    font-size: 12px;
}

.text-size .text-md {
    font-size: 16px;
}

.text-size .text-xl {
    font-size: 30px;
}